@{
    ViewData["Title"] = "Not Active";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Your account is inactive right now, you can login after the activation by the admin</p>
</header>
